.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 10%;
  height: 50px;
  justify-content: center;
  border-radius: 10px;
}

.category:nth-child(1n+0) {
  background-color: #57c4ff31; /* First color */
}

.category:nth-child(2n+0) {
  background-color: #da85c731; /* Second color */
}

.category:nth-child(3n+0) {
  background-color: #7fb88133; /* Third color */
}

.category:nth-child(4n+0) {
  background-color: #ff795736; /* Fourth color */
}

.category:nth-child(5n+0) {
  background-color: #ffb04f45; /* Fifth color */
}

.category:nth-child(6n+0) {
  background-color: #5e4fff31; /* Sixth color */
}

/* Colors will repeat for additional .category elements */

.image {
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
